.board{
    height: 640px;
    width: 640px;
    margin-top: 50px;
    margin-left: 400px;
}
.board.div{
    border:solid 1px blue;
}
.item.i1 {
    background-color: rgba(240, 128, 128, 0.6);
}
.squarehl{
    border: purple solid 0.5px;
}
.linemovhldark{
    background-color: rgba(240, 128, 128, 0.6);
}
.linemovhl{
    background-color: rgba(240, 128, 128, 0.3);
}
.columnmovhldark{
    background-color: rgba(127, 255, 212, 0.8);
}
.columnmovhl{
    background-color: rgba(127, 255, 212, 0.2);
}
.diagonalmovhldark{
    background-color: rgba(100, 149, 237, 0.6);
}
.diagonalmovhl{
    background-color: rgba(100, 149, 237, 0.3);
}
.knightmovhldark{
    background-color: rgba(255, 250, 205, 0.8);
}
.knightmovhl{
    background-color: rgba(255, 250, 205, 0.4);
}
.darksquarecolor{
    background-color: rgba(128,0,128, 0.3);
}
.lightsquarecolor{
    background-color: rgba(221,160,221,0.5);
}
.capturehl{
    background-color: rgba(70,0,130,0.5);
}
.capturehldark{
    background-color: rgba(70,0,130,1);
}
.orangehl{
    background-color: rgba(255, 115, 0, 0.4);
}
.orangehldark{
    background-color: rgba(130, 59, 0, 0.8);
}
.pblack{
    background-color: black;
    color: white;
    height: 30px;
    width: 640px;
}
.pwhite{
    background-color: white;
    color: black;
}
.pfont{
    font: 20px;
    font-weight: bold;
}
.buttons{
    margin-left: 450px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.goldenrod{
    background-color: rgb(218, 165, 32,0.6);
}
.goldenroddark{
    background-color: rgba(218, 165, 32,1);
}
.silverbuenao{
    background-color: rgba(192, 192, 192, 0.4);
}
.silverbuenaodark{
    background-color: rgba(192, 192, 192,0.8);
}

