/*CSS Selector 	Specificity hierarchy score
Inline styles  	                       1000
Identifier (Id)  	                    100
Class, Pseudo classes, attributes    	10
Element, Pseudo element  	            1

HTML
<h3 id="new" class="spec"> LinuxHint! A valley of tutorials </h3>
CSS
<style>

/\  h3 {background-color: red;}

/\  .spec {background-color:orange;}

/\  #new {background-color:lightskyblue; width:75%; line-height: 50px} 

</style>
*/